In [272]:
#Q1. Implement the methods of String with examples.

In [273]:
str="  Shivani Poosala  "
print(str)
print(str.upper())
print(str.lower())
print(str.title())
print(str.capitalize())
print(str.swapcase())
print(str.strip())
print(str.rstrip())#right strip
print(str.lstrip())#left strip
print(str.rsplit())

  Shivani Poosala
  SHIVANI POOSALA
  shivani poosala
  Shivani Poosala
  shivani poosala
  sHIVANI pOOSALA
Shivani Poosala
  Shivani Poosala
Shivani Poosala
['Shivani', 'Poosala']

In [274]:
#Q2. Implement the methods of List with examples

In [275]:
list=[1,2,3,4,5,6,7,8,9,10]
print(list)
#Append the list
list.append(11)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [276]:
#expend the list
list.extend([12,13,14])
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [277]:
#insert into the list
list.insert(0,0)
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [278]:
#sum of the elements in the list
print(sum(list))

105

In [279]:
#count the occurancy of an element
list.count(1)

1

In [280]:
#no.of elements in the list
print(len(list))

15

In [281]:
#remove the element 
list.remove(14)
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [282]:
#pop the element at particular index
list.pop(0)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [283]:
#delete the element at particular index
del list[3]
print(list)

[1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [284]:
#Reverse the list
list.reverse()
print(list)

[13, 12, 11, 10, 9, 8, 7, 6, 5, 3, 2, 1]

In [285]:
#sort the list
list.sort()
print(list)

[1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [286]:
#Q3. Implement the methods of Tuple with examples.

In [287]:
tuple=(1,2,3,4,5,6,7,8,9,10)
print(tuple.count(1))
print(tuple.index(5))
print(max(tuple))
print(min(tuple))
print(len(tuple))
print(sum(tuple))

1
4
10
1
10
55

In [288]:
#Q4. Implement the methods of Dictionary with examples.

In [289]:
dict={'name':'shivani','branch':'CSE(AIML)','year':3,'address':'wgl','college':'SR'}
print(dict['name'])
print(dict.keys())
print(dict.values())
print(dict.get('name'))
dict['lastname']='poosala' #add iteam
print(dict)
dict['college']='SRU' #update value
print(dict)
dict.pop('address') #remove particular item
print(dict)
dict.popitem() #remove an item from last
print(dict)
dict.clear() # clear enter dict
print(dict)

shivani
dict_keys(['name', 'branch', 'year', 'address', 'college'])
dict_values(['shivani', 'CSE(AIML)', 3, 'wgl', 'SR'])
shivani
{'name': 'shivani', 'branch': 'CSE(AIML)', 'year': 3, 'address': 'wgl', 'college': 'SR', 'lastname': 'poosala'}
{'name': 'shivani', 'branch': 'CSE(AIML)', 'year': 3, 'address': 'wgl', 'college': 'SRU', 'lastname': 'poosala'}
{'name': 'shivani', 'branch': 'CSE(AIML)', 'year': 3, 'college': 'SRU', 'lastname': 'poosala'}
{'name': 'shivani', 'branch': 'CSE(AIML)', 'year': 3, 'college': 'SRU'}
{}

In [290]:
#Q5. Implement the methods of Set with examples.

In [291]:
set1={1,2,3,4,5,6,7,8,9,10}
set2={10,9,7,8,6,5,1,3,2,4}
set1.add(11)
print(set1)
set1.update([12,13,14])
print(set1)
set1.discard(14)
print(set1)
set1.remove(4)
print(set1)
set1.copy()
print(set1)
set1.difference()
print(set1)
print(set1)
#union
print(set1.union(set2))
#intersection
print(set1.intersection(set2))
#difference
print(set1-set2)
print(set2-set1)
set1.pop()
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}
{1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13}
{1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13}
{1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13}
{1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}
{1, 2, 3, 5, 6, 7, 8, 9, 10}
{11, 12, 13}
{4}
{2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [292]:
#Q6. Write a python program to convert Decimal to Binary, Octal and Hexadecimal with 
#direct method.

In [293]:
print(bin(10))
print(oct(10))
print(hex(10))

0b1010
0o12
0xa

In [294]:
#Q7. Implement Arithmetic operators with examples.

In [295]:
A=11
B=7
print(A+B)
print(A-B)
print(A*B)
print(A/B)
print(A%B)
print(A**B)
print(A//B)

18
4
77
1.5714285714285714
4
19487171
1

In [296]:
#Q8. Implement Assignment operators with examples.

In [297]:
a=15
b=5
c=a+b
print(c)
c+=a
print(c)
c-=a
print(c)
c*=a
print(c)
c/=a
print(c)
c=2
c%=a
print(c)
c**=a
print(c)
c//=a
print(c)

20
35
20
300
20.0
2
32768
2184

In [298]:
#Q9. Implement Comparison operators with examples.

In [299]:
a=10
b=25
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [300]:
#Q10. Implement Logical operators with examples

In [301]:
a='true'
b='flase'
print(a and b)
print(a or b)
print(not a)
print(not b)

flase
true
False
False

In [302]:
#Q11. Implement Bitwise operators with examples

In [303]:
a=15
b=13
print(a&b)
print(a^b)
print(a|b)
print(~a)
print(a>>2)
print(a<<2)

13
2
15
-16
3
60

In [304]:
#Q12. Implement Membership operators with examples.

In [305]:
a=[1,2,3,4]
b={'hi',1,4,5,'b'}
print(1 in a)
print('hi' in b)
print(5 in a)
print('b' not in b)

True
True
False
False

In [306]:
#Q13. Implement Identity operators with examples

In [307]:
a=45
b=32
x='hi'
y='hi'
print(a is b)
print(a is not b)
print(x is y)
print(x is not y)

False
True
True
False

In [308]:
#Q14. Demonstrate Negative indexing for List and apply slicing

In [309]:
list=[12,3.0,4,2.5,11,0,2,6.4,16]
print(list[-1])
print(list[-4])
print(list[-9:-1])
print(list[-9::])
print(list[::-1])
print(list[::])
print(list[-9::5])

16
0
[12, 3.0, 4, 2.5, 11, 0, 2, 6.4]
[12, 3.0, 4, 2.5, 11, 0, 2, 6.4, 16]
[16, 6.4, 2, 0, 11, 2.5, 4, 3.0, 12]
[12, 3.0, 4, 2.5, 11, 0, 2, 6.4, 16]
[12, 0]

In [310]:
#Q15. Predict the output for the given code snippet and justify the result.

In [311]:
print('A series of characters designated as one object known as a string'[::-1][4::3])
#in above statement [::-1] reverse the whole string and [4::3] reads the string from index 4 and indexjump with value 3
print("-------------------------")
print('Welcome to python training program'[3:10][::-1])
#[3:10] it starts from 3 rd index and stops at 10 th index and the it will reverse the string

taawkcbe  tgestrcoeeA
-------------------------
ot emoc

In [312]:
#Q16. Write a python code to get desired output
#Input string:p_phrase="was it a car or a cat I saw"
#Output string: WAS I TAC A RO RAC A TI SAW

In [313]:
p_phrase="was it a car or a cat I saw"
str=p_phrase.upper()
print(str[::-1])

WAS I TAC A RO RAC A TI SAW

In [314]:
#Q17. You are required to generate a word similar to ZOO, X and Y that denote 
#the number of Zs and Os respectively. The generated word similar to ZOO where #Y= 2 * X. 
#Input X= 2 Output ZZOOOO 
#Input X= 5 Output ZZZZZOOOOOOOOOO

In [315]:
x=int(input("Enter a value"))
y=2*x
print('x=',x)
print('y=',y)
print('Z'*x,'O'*y,sep='')

Enter a value2
x= 2
y= 4
ZZOOOO