In [2]:
#if statement
var=100
if var>0:
    print('True')
    print(var)
var1=0
if var1>0:
    print('True')
    print(var1)

True
100
True
0

In [3]:
#if..else statement
var2=-1
if var2>0:
    print('True')
    print(var2)
else:
    print("False")
    print(var2)

False
-1

In [5]:
#nested if statements
#bus tickets
age=int(input("Enter age="))
if age>12 and age<=18:
    if age<15:
        print("Quarter ticket implies")
    elif age==15:
         print("Quarter ticket +discount")
    else:
        print("Half ticket")
elif age>=19 and age<=60:
    print("full ticket")
elif age>60:
    print("full ticket+discount")
else:
    print("no ticket")

Enter age=19
full ticket

In [7]:
#for loop
number=[6,5,3,8,4,2,5,4,11]
sum=0
for val in number:
    sum=sum+val
print('the sum is=',sum)

the sum is= 48

In [11]:
for i in range(1,11):
    print(i)
print('\n')
for i in range(1,11,2):
    print(i)

1
2
3
4
5
6
7
8
9
10


1
3
5
7
9

In [12]:
x=[2,3,4,5,6,7,8]
y=[]
for a in x:
    if a%2==0:
        y.append(a)
print(y)

[2, 4, 6, 8]

In [14]:
#using statements in for loop
digits=[0,1,5]
for i in digits:
    print(i)
else:
    print("no items left")

0
1
5
no items left

In [15]:
for l in 'python':
    print("current letter:",l)

current letter: p
current letter: y
current letter: t
current letter: h
current letter: o
current letter: n

In [18]:
#iterating by sequence indexing
fruit=['water_apple','mango','grapes']
for index in range(len(fruit)):
    print('current fruit:',fruit[index])

current fruit: water_apple
current fruit: mango
current fruit: grapes

In [20]:
#while
count=0
while(count<11):
    print('the count is',count)
    count=count+1

the count is 0
the count is 1
the count is 2
the count is 3
the count is 4
the count is 5
the count is 6
the count is 7
the count is 8
the count is 9
the count is 10

In [23]:
x=[[5,4,6],[3,2,1]]
y=[[1,2,3],[1,2,3]]
res=[[0,0,0],[0,0,0]]
for i in range(len(x)):
    for j in range(len(x[0])):
        res[i][j]=x[i][j]+y[i][j]
for r in res:
    print(r)

[6, 6, 9]
[4, 4, 4]

In [15]:
num=int(input("enter till which table you want to print"))
i=1
while(i<=num):
    print(f"TABLE {i}")
    j=1
    while(j<=10):
        print(f"{i}*{j}={i*j}")
        j=j+1
    print("--------------")
    i=i+1

enter till which table you want to print4
TABLE 1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
--------------
TABLE 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
--------------
TABLE 3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
--------------
TABLE 4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
--------------

In [26]:
#control statements
#break
for l in 'python':
    if l=='h':
        break
    print('current letter:',l)

current letter: p
current letter: y
current letter: t

In [20]:
#continue
for l in 'python':
    if l=='h':
        continue
    print('current letter:',l)

current letter: p
current letter: y
current letter: t
current letter: o
current letter: n

In [21]:
#pass
for l in 'python':
    if l=='h':
        pass
    print('current letter:',l)

current letter: p
current letter: y
current letter: t
current letter: h
current letter: o
current letter: n

In [24]:
#user defined funtions
def greet(name):
    print("Hello,\t"+name+"\tGood Morning")
greet("Shivani")

Hello,	Shivani	Good Morning

In [26]:
#keyword
def A(a,b=1,c=2):
    return a+b+c
print(A(a=2,b=3))
print(A(c=3,b=2,a=1))

7
6

In [28]:
#positional
def add(a,b,c):
    return a+b+c
    
print(add(10,20,30))
print(add(10,b=20,c=30))

60
60

In [29]:
#arbitrary keyword
def key_arg(**kwargs):
    return kwargs
my_dict=key_arg(Apples=10,Oranges=20,Grapes=30)
print(my_dict['Apples'])
print(my_dict)

10
{'Apples': 10, 'Oranges': 20, 'Grapes': 30}

In [33]:
#arbitrary positional
def add_num(*n):
    print(n)
    print(sum(n))
add_num(5,11)

(5, 11)
16

In [37]:
#higher order functions
def shout(text):
    return text.upper()
def whisper(text):
    return text.lower()
def explain(fun):
    greet=fun("hi,i am higher ordeer function")
    print(greet)
explain(shout)
explain(whisper)

HI,I AM HIGHER ORDEER FUNCTION
hi,i am higher ordeer function

In [27]:
str1=input("enter a string")
str2=str1[::-1]
if(str1==str2):
    print('palindrome')
else:
    print('not')

enter a stringmam
palindrome

In [32]:
#palindrome
x=input('enter string')
w=''
for i in x:
    w=i+w
if(x==w):
    print('yes')
else:
    print('no')

enter stringmom
yes

In [33]:
for i in range(1,101):
    str2=str(i)
    if(str2==str2[::-1]):
        print("palindrome=",i)

palindrome= 1
palindrome= 2
palindrome= 3
palindrome= 4
palindrome= 5
palindrome= 6
palindrome= 7
palindrome= 8
palindrome= 9
palindrome= 11
palindrome= 22
palindrome= 33
palindrome= 44
palindrome= 55
palindrome= 66
palindrome= 77
palindrome= 88
palindrome= 99

In [44]:
l=[1,2,3,4,5,6,7]
for i in range(len(l)):
    if(l[i]%2==0):
        print("even=",l[i])

even= 2
even= 4
even= 6

In [ ]:
Write a python program that generates desired output i.e, from countries list select out 
the country names that contain string “and”


Countries_list=[“Finland”,”Germany”,”Sweden”,”Ireland”,”Turkey”]

Output: [“Finland”,”Ireland”]

In [ ]:
countries_list=['Finland','Germany','Sweden','Ireland','Turkey']
l=[]
for i in range(str(l[])):
    if l='land'

Write a python program that print respective grades of student:
Grade – Outstanding  for marks>=90

Grade A+ for marks >=80, <90

Grade A for marks >=70, <80

Grade B for marks >=60 and <70

<60 Grade C

In [53]:
marks=int(input("Enter marks="))
if marks>=90:
    print('outstanding')
elif (marks>=80 and marks<90): 
        print('A+')
elif (marks>=70 and marks<80): 
        print('A')
elif (marks>=60 and marks<70): 
        print('B')
else:
    print('C')

Enter marks=89
A+

In [57]:
statelist = ["Delhi" ,"Telanaga","Goa","AP","Kerala" ]
print(statelist[0][0].lower(),end="")
print(statelist[0][4].upper(),end="")
print(statelist[1][0].lower(),end="")
print(statelist[1][7].upper(),end="")
print(statelist[2][0].lower(),end="")
print(statelist[2][2].upper(),end="")
print(statelist[3][0].lower(),end="")
print(statelist[3][1],end="")
print(statelist[4][0].lower(),end="")
print(statelist[4][5].upper(),end="")

dItAgAaPkA

In [66]:
#function
#user defined functions
def greet(name):
    '''this function greets a person'''
    print('Hello,\t'+name+ "\tgood morning")
greet('shiva')

Hello,	shiva	good morning

In [69]:
#default
def A(a,b=1,c=2):
    return a+b+c
print(A(3))
print(A(4,4,4))
print(A(2,2))

6
12
6

In [70]:
def add(a,b,c):
    return a+b+c
print(add(10,20,30))

60

In [76]:
def incr(x):
    x=x+1
    return x
print(incr(5))
print((lambda x:x+1)(5))
print((lambda x,y:x+y)(3,4))
print((lambda x,y:x**y)(3,3))

6
6
7
27

In [38]:
li=['apple','banana','grapes']
r=list(map(lambda x:x.capitalize(),li))
print(r)

['Apple', 'Banana', 'Grapes']

In [87]:
#math module
import math as m
print(m.pi)
print(m.e)
print(m.sqrt(4))
print(m.factorial(5))
print(m.pow(2,2))
print(m.floor(1.4))
print(m.tan(5))
print(m.log(2))

3.141592653589793
2.718281828459045
2.0
120
4.0
1
-3.380515006246586
0.6931471805599453

In [88]:
import sys
print(sys.path)
print(sys.version)
print(sys.maxsize)

['C:\\Users\\Shivani', 'C:\\Users\\Shivani\\anaconda3\\python38.zip', 'C:\\Users\\Shivani\\anaconda3\\DLLs', 'C:\\Users\\Shivani\\anaconda3\\lib', 'C:\\Users\\Shivani\\anaconda3', '', 'C:\\Users\\Shivani\\anaconda3\\lib\\site-packages', 'C:\\Users\\Shivani\\anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\Shivani\\anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\Shivani\\anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\Shivani\\anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\Shivani\\.ipython']
3.8.5 (default, Sep  4 2020, 00:03:40) [MSC v.1916 32 bit (Intel)]
2147483647

In [90]:
import statistics as s
print(s.mean([2,3,4]))
print(s.median([2,3,4]))
print(s.mode([1,2,3,1]))

3
3
1

In [92]:
#random module
import random
print(random.randrange(1,50))
print(random.randint(1,100))
print(random.random())

21
24
0.617335932920297

Write a python program that remove items that are multiples of 5 from list:
li=[1,2,5,6,7,10,15,25,65,78,90]

o/p: [1,2,6,7,78]

In [11]:
li=[1,2,5,6,7,10,15,25,65,78,90]
l2=[]
for i in li:
    if i%5!=0:
        l2.append(i)
print(l2)

[1, 2, 6, 7, 78]

In [4]:
li=[1,2,5,6,7,10,15,25,65,78,90]
res=list(filter(lambda x:x%5!=0,li))
print(res)

[1, 2, 6, 7, 78]

In [29]:
li=[1,2,5,6,7,10,15,25,65,78,90]
for i in li[:]:
    if i%5==0:
        li.remove(i)
print(li)

[1, 2, 6, 7, 78]

In [18]:
fruit=['apple','amla','banana','avacado','orange','pineapple']
for i in fruit:
    if i[0]!='a':
        fruit.remove(i)
print(fruit)

['apple', 'amla', 'avacado', 'pineapple']

Write a python program that generates desired output from fruits list. Filter out the fruits names that don’t start with ‘A’


Fruit=[“Apple”,”Banana”,”Pear”,”Avacado”,”Orange”,”Amla”]

Output: [“Apple”,”Avacado”,”Amla”]

In [19]:
fruit=["Apple","Banana","Pear","Avacado","Orange","Amla"]
res=list(filter(lambda x:x.startswith('A'),fruit))
print(res)

['Apple', 'Avacado', 'Amla']

Mssg=”Welcome to gradstellar bootcamp”
X=”number of occurrences of ‘o’ in mssg”

Y=”number of occurrences of ‘e’ in mssg”

Compute (X+Y)2

In [20]:
mssg="Welcome to gradstellar bootcamp"
x=mssg.count('o')
y=mssg.count('e')
print(x,y)
print((x+y)**2)

4 3
49