<a href="https://colab.research.google.com/github/shivanipoosala/BOOT_CAMP-AIML/blob/main/DAY8_SUV_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv('/content/drive/MyDrive/SUV_Purchase.csv')
df.head(20)

     User ID  Gender  Age  EstimatedSalary  Purchased
0   15624510    Male   19            19000          0
1   15810944    Male   35            20000          0
2   15668575  Female   26            43000          0
3   15603246  Female   27            57000          0
4   15804002    Male   19            76000          0
5   15728773    Male   27            58000          0
6   15598044  Female   27            84000          0
7   15694829  Female   32           150000          1
8   15600575    Male   25            33000          0
9   15727311  Female   35            65000          0
10  15570769  Female   26            80000          0
11  15606274  Female   26            52000          0
12  15746139    Male   20            86000          0
13  15704987    Male   32            18000          0
14  15628972    Male   18            82000          0
15  15697686    Male   29            80000          0
16  15733883    Male   47            25000          1
17  15617482    Male   45            26000          1
18  15704583    Male   46            28000          1
19  15621083  Female   48            29000          1

In [ ]:
#Data Preprocessing
from sklearn import preprocessing
#Label Encoding
LE= preprocessing.LabelEncoder()
# Fitting it to our dataset
df.Gender = LE.fit_transform(df.Gender)
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [ ]:
df = df.drop('User ID',axis=1)
df = df.drop('Gender',axis=1)

In [ ]:
# Importing StandardScaler from scikit-learn
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
data_scaled=df.iloc[:,:-1].values
data_scaled=sc.fit_transform(data_scaled)
data_scaled=pd.DataFrame(data_scaled)
data_scaled.head()

          0         1
0 -1.781797 -1.490046
1 -0.253587 -1.460681
2 -1.113206 -0.785290
3 -1.017692 -0.374182
4 -1.781797  0.183751

In [ ]:
data_scaled.columns=['Age','EstimatedSalary']

data_scaled.head()

        Age  EstimatedSalary
0 -1.781797        -1.490046
1 -0.253587        -1.460681
2 -1.113206        -0.785290
3 -1.017692        -0.374182
4 -1.781797         0.183751

In [ ]:
data_scaled['Purchased'] = df.Purchased
data_scaled = data_scaled[data_scaled['Purchased'].notna()]
data_scaled

          Age  EstimatedSalary  Purchased
0   -1.781797        -1.490046          0
1   -0.253587        -1.460681          0
2   -1.113206        -0.785290          0
3   -1.017692        -0.374182          0
4   -1.781797         0.183751          0
..        ...              ...        ...
395  0.797057        -0.844019          1
396  1.274623        -1.372587          1
397  1.179110        -1.460681          1
398 -0.158074        -1.078938          0
399  1.083596        -0.990844          1

[400 rows x 3 columns]

In [ ]:
x=data_scaled.iloc[:,:-1].values
y=data_scaled.iloc[:,-1:].values

In [ ]:
#spliting the data into training and testing set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier()
model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [ ]:
x_train

array([[ 1.94321462,  2.18056084],
       [ 2.03872775,  0.38930459],
       [-1.30423178, -0.4329114 ],
       [-1.11320552, -1.02020853],
       [ 1.94321462, -0.93211396],
       [ 0.41500455,  0.30121002],
       [ 0.22397829,  0.15438573],
       [ 2.03872775,  1.76945285],
       [ 0.79705706, -0.84401939],
       [ 0.31949142, -0.28608712],
       [ 0.41500455, -0.16862769],
       [-0.0625611 ,  2.23929055],
       [-1.39974491, -0.63846539],
       [-1.20871865, -1.07893824],
       [-1.30423178,  0.41866944],
       [-1.01769239,  0.77104772],
       [-1.39974491, -0.19799255],
       [ 0.98808332, -1.07893824],
       [ 0.98808332,  0.59485858],
       [ 0.41500455,  1.00596657],
       [ 0.60603081, -0.9027491 ],
       [-0.54012675,  1.47580428],
       [ 0.03295203, -0.57973568],
       [-0.54012675,  1.91627713],
       [ 1.37013584, -1.43131652],
       [ 1.46564897,  1.00596657],
       [ 0.12846516, -0.81465453],
       [ 0.03295203, -0.25672226],
       [-0.15807423, -0.57973568],
       [-0.15807423, -0.19799255],
       [-0.25358736, -1.3138571 ],
       [-0.25358736, -0.57973568],
       [ 0.41500455,  0.09565602],
       [ 0.89257019, -0.60910054],
       [ 2.03872775, -1.19639767],
       [ 1.08359645, -0.13926283],
       [ 0.70154394,  1.7988177 ],
       [-0.63563988,  0.56549373],
       [ 0.79705706,  0.35993973],
       [ 0.89257019, -0.55037082],
       [-1.11320552, -1.60750566],
       [ 2.13424088,  0.94723686],
       [ 0.03295203,  1.24088543],
       [ 0.22397829,  1.09406114],
       [ 0.41500455, -0.49164111],
       [-0.25358736, -0.31545197],
       [ 0.98808332, -0.84401939],
       [ 0.98808332,  1.88691227],
       [ 0.03295203,  1.27025028],
       [-0.82666613,  2.29802026],
       [-1.11320552, -1.60750566],
       [ 2.13424088, -0.81465453],
       [-1.30423178, -1.49004624],
       [ 0.41500455,  2.32738512],
       [ 0.79705706,  0.77104772],
       [-0.92217926, -0.31545197],
       [ 0.12846516,  0.77104772],
       [-0.92217926,  0.56549373],
       [ 0.31949142,  0.06629116],
       [ 0.70154394, -1.28449224],
       [-0.44461362, -0.02180341],
       [-1.6862843 ,  0.35993973],
       [-0.63563988,  0.12502088],
       [ 0.41500455,  0.30121002],
       [-0.25358736,  0.06629116],
       [-0.44461362,  2.32738512],
       [ 0.22397829,  0.03692631],
       [ 1.27462271,  2.23929055],
       [ 0.79705706,  0.27184516],
       [-0.25358736,  0.15438573],
       [ 0.03295203, -0.55037082],
       [-0.15807423,  0.15438573],
       [-0.0625611 ,  0.2424803 ],
       [ 0.03295203, -0.25672226],
       [ 2.13424088,  1.123426  ],
       [-1.6862843 ,  0.35993973],
       [ 1.84770149,  0.12502088],
       [ 0.41500455, -0.13926283],
       [-1.11320552,  0.30121002],
       [ 0.79705706,  1.38770971],
       [-0.25358736, -0.25672226],
       [-1.59077117, -0.05116826],
       [-0.92217926, -0.75592482],
       [ 0.31949142,  0.50676401],
       [-0.0625611 , -1.07893824],
       [-1.01769239,  0.59485858],
       [ 0.12846516, -0.81465453],
       [-0.92217926,  1.56389885],
       [-0.63563988,  1.41707457],
       [-1.20871865,  0.50676401],
       [-0.25358736,  0.03692631],
       [-0.0625611 ,  0.00756145],
       [-0.25358736, -0.9027491 ],
       [ 0.89257019, -1.37258681],
       [-0.25358736,  2.26865541],
       [ 0.98808332,  2.0043717 ],
       [-1.11320552,  0.47739916],
       [-1.20871865,  0.27184516],
       [ 1.37013584,  2.0043717 ],
       [ 1.27462271, -1.37258681],
       [-0.25358736, -0.28608712],
       [-0.44461362,  1.27025028],
       [-0.73115301,  1.09406114],
       [ 0.98808332, -1.07893824],
       [ 0.31949142,  0.30121002],
       [ 0.98808332,  0.77104772],
       [-0.63563988, -1.51941109],
       [-0.63563988,  0.03692631],
       [ 0.51051768,  1.74008799],
       [ 2.03872775,  0.18375059],
       [-1.87731056, -0.75592482],
       [-0.15807423,  1.41707457],
       [ 0.41500455,  0.59485858],
       [ 0.89257019, -1.16703281],
       [-1.11320552, -0.78528968],
       [ 0.22397829,  0.2424803 ],
       [ 0.79705706, -0.31545197],
       [ 2.03872775, -0.81465453],
       [ 0.79705706,  0.12502088],
       [-0.25358736,  0.62422344],
       [-0.92217926, -0.31545197],
       [ 0.22397829, -0.37418169],
       [ 2.03872775,  2.15119598],
       [ 1.84770149, -1.28449224],
       [ 1.37013584, -0.93211396],
       [ 0.89257019,  1.27025028],
       [ 1.46564897,  2.15119598],
       [-0.25358736, -1.25512738],
       [ 1.94321462,  0.917872  ],
       [ 0.70154394, -0.72655996],
       [-1.39974491,  0.35993973],
       [ 0.79705706, -1.37258681],
       [ 0.41500455, -0.13926283],
       [-0.92217926,  0.41866944],
       [ 0.03295203, -0.31545197],
       [-1.11320552,  0.41866944],
       [-0.82666613, -1.22576253],
       [-0.0625611 ,  0.03692631],
       [-1.49525804, -0.4329114 ],
       [ 0.98808332, -1.02020853],
       [ 1.08359645, -1.22576253],
       [ 0.03295203, -0.13926283],
       [-1.01769239, -1.54877595],
       [ 0.79705706, -1.22576253],
       [ 0.98808332,  2.09246627],
       [-1.11320552, -1.54877595],
       [-0.25358736,  0.80041258],
       [ 0.12846516, -0.31545197],
       [-1.30423178, -1.25512738],
       [-0.54012675, -1.51941109],
       [ 0.79705706,  0.53612887],
       [-0.25358736, -0.34481683],
       [ 1.75218836, -0.28608712],
       [ 0.89257019, -1.04957339],
       [ 0.22397829,  0.06629116],
       [-0.54012675,  0.88850715],
       [-1.78179743, -1.43131652],
       [-1.20871865,  0.59485858],
       [-0.25358736,  0.53612887],
       [-0.92217926, -1.1083031 ],
       [ 1.17910958, -1.46068138],
       [ 0.22397829, -0.31545197],
       [ 1.17910958, -0.75592482],
       [-0.25358736,  0.06629116],
       [ 0.22397829,  2.12183112],
       [ 0.79705706, -1.1083031 ],
       [ 0.12846516,  0.03692631],
       [-1.6862843 ,  0.12502088],
       [-0.82666613,  0.15438573],
       [-0.63563988,  0.18375059],
       [ 0.89257019, -1.3138571 ],
       [ 0.22397829, -0.25672226],
       [-0.34910049,  1.24088543],
       [ 0.03295203,  0.30121002],
       [ 0.41500455,  0.15438573],
       [ 0.89257019, -0.66783025],
       [ 0.12846516,  0.15438573],
       [-1.78179743, -1.3138571 ],
       [-0.0625611 ,  0.30121002],
       [-0.15807423, -0.28608712],
       [ 0.31949142, -0.52100597],
       [-0.15807423,  1.62262856],
       [ 0.98808332, -1.19639767],
       [-0.15807423,  1.65199342],
       [ 1.27462271,  1.88691227],
       [-1.01769239, -0.37418169],
       [ 0.03295203,  0.03692631],
       [ 0.12846516, -0.25672226],
       [-1.49525804, -1.25512738],
       [-0.44461362, -0.28608712],
       [ 0.98808332,  0.12502088],
       [ 1.94321462, -1.37258681],
       [ 1.46564897,  0.06629116],
       [-0.54012675,  1.38770971],
       [ 1.5611621 ,  0.00756145],
       [-0.73115301,  0.30121002],
       [ 1.94321462,  0.74168287],
       [-1.11320552, -0.52100597],
       [ 0.70154394,  0.27184516],
       [-1.30423178, -0.4329114 ],
       [ 0.22397829,  0.15438573],
       [-0.44461362, -1.22576253],
       [ 0.60603081,  2.03373655],
       [-1.49525804, -1.51941109],
       [-0.44461362, -0.55037082],
       [ 0.51051768,  1.85754742],
       [-1.30423178, -1.1083031 ],
       [ 0.79705706, -1.40195167],
       [-0.25358736, -0.4329114 ],
       [ 1.5611621 ,  1.00596657],
       [ 0.98808332,  1.44643942],
       [-0.25358736, -0.49164111],
       [-0.0625611 ,  2.18056084],
       [-1.39974491, -0.10989798],
       [-0.0625611 ,  1.97500684],
       [-0.63563988, -0.34481683],
       [-0.44461362, -0.84401939],
       [ 0.70154394, -1.40195167],
       [-0.73115301, -1.60750566],
       [-1.78179743, -1.49004624],
       [ 1.08359645,  0.12502088],
       [ 0.12846516,  1.53453399],
       [-0.25358736,  0.09565602],
       [ 0.12846516,  0.03692631],
       [-1.30423178, -1.37258681],
       [ 0.31949142,  0.06629116],
       [-0.82666613,  0.38930459],
       [ 1.5611621 , -1.28449224],
       [-0.25358736, -0.75592482],
       [-0.0625611 ,  0.15438573],
       [-0.82666613, -0.66783025],
       [-0.63563988, -0.05116826],
       [ 0.41500455, -0.46227625],
       [-0.73115301,  1.91627713],
       [ 1.37013584,  1.29961514],
       [ 1.17910958, -0.99084367],
       [ 1.75218836,  1.85754742],
       [-0.82666613, -0.25672226],
       [-0.73115301,  0.56549373],
       [-1.11320552, -1.5781408 ],
       [-0.44461362, -1.13766796],
       [ 0.31949142,  0.06629116],
       [-0.15807423, -1.07893824],
       [ 1.65667523,  1.62262856],
       [ 0.98808332,  1.7988177 ],
       [ 0.31949142,  0.03692631],
       [-0.73115301, -0.2273574 ],
       [-0.0625611 ,  0.06629116],
       [ 0.31949142, -0.19799255],
       [ 1.94321462, -0.66783025],
       [-0.73115301,  1.35834485],
       [-1.6862843 , -0.60910054],
       [-0.0625611 ,  0.12502088],
       [ 0.31949142, -0.31545197],
       [ 1.08359645,  0.56549373],
       [-0.92217926,  0.27184516],
       [ 1.46564897,  0.35993973],
       [ 0.22397829, -0.37418169],
       [ 2.13424088, -1.04957339],
       [-0.25358736,  1.123426  ],
       [-1.59077117,  0.06629116],
       [ 0.03295203,  0.03692631],
       [ 0.12846516,  1.06469629],
       [-0.0625611 , -0.37418169],
       [-1.11320552,  0.06629116],
       [-0.25358736, -1.37258681],
       [ 1.5611621 ,  1.123426  ],
       [-0.73115301, -1.54877595],
       [ 0.12846516,  1.88691227],
       [-0.82666613, -0.78528968],
       [-0.44461362, -0.78528968],
       [-0.25358736, -0.93211396],
       [ 0.31949142, -0.72655996],
       [ 0.31949142,  0.06629116],
       [ 0.12846516,  1.88691227],
       [-1.01769239,  1.97500684],
       [-1.59077117, -1.5781408 ],
       [-1.11320552, -1.1083031 ],
       [-0.63563988, -0.10989798],
       [ 0.12846516,  0.09565602],
       [ 0.31949142,  0.27184516],
       [ 0.89257019, -0.57973568],
       [ 0.31949142, -1.16703281],
       [-0.0625611 ,  0.68295315],
       [ 2.13424088, -0.69719511],
       [-1.20871865, -1.40195167],
       [-0.92217926, -0.96147882],
       [ 0.03295203, -0.4329114 ],
       [-0.15807423, -0.46227625],
       [-1.6862843 , -0.99084367],
       [ 1.75218836,  1.00596657],
       [ 0.22397829, -0.37418169],
       [ 0.41500455,  1.123426  ],
       [-1.6862843 , -1.37258681],
       [ 0.22397829, -0.13926283],
       [ 0.89257019, -1.46068138],
       [-1.87731056,  0.47739916],
       [-0.25358736,  0.27184516],
       [ 1.84770149, -1.07893824],
       [-0.34910049,  0.06629116],
       [ 1.08359645, -0.9027491 ],
       [-1.01769239, -1.13766796],
       [-1.78179743,  0.00756145],
       [ 0.12846516,  0.27184516],
       [-1.11320552,  0.33057487],
       [-1.20871865,  0.30121002],
       [-0.92217926,  0.4480343 ],
       [ 1.65667523, -0.9027491 ],
       [ 1.17910958,  0.53612887],
       [ 1.08359645,  0.53612887],
       [ 1.37013584,  2.35674998],
       [-0.25358736, -0.13926283],
       [ 0.41500455, -0.46227625],
       [-0.34910049, -0.78528968],
       [-0.0625611 , -0.52100597],
       [ 0.98808332, -1.16703281],
       [-0.82666613, -0.78528968],
       [-0.15807423, -0.52100597],
       [-1.01769239, -0.46227625],
       [-1.11320552,  1.41707457]])

In [ ]:
y_pred=model.predict(x_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]]

In [ ]:
print("Predicted value for training data:",model.score(x_train,y_train))
print("Training accuracy:",model.score(x_train,y_train)*100)

Predicted value for training data: 0.91875
Training accuracy: 91.875

In [ ]:
print("Predicted value for testing data:",model.score(x_test,y_test))
print("Testing accuracy:",model.score(x_test,y_test)*100)

Predicted value for testing data: 0.95
Testing accuracy: 95.0

In [ ]:
accuracy=model.score(x,y)*100
print(accuracy)

92.5

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test,y_pred)
#TN FP
#FN TP

[[55  3]
 [ 1 21]]

0.95

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_train,model.predict(x_train))
print(cm)

#TN FP
#FN TP

[[182  17]
 [  9 112]]

In [ ]:
from matplotlib.colors import ListedColormap


X_set, y_set = sc.inverse_transform(x_train), y_train

X1, X2 = np.meshgrid(np.arange(start = X_set[:, 0].min() - 10, stop = X_set[:, 0].max() + 10, step = 1),

np.arange(start = X_set[:, 1].min() - 1000, stop = X_set[:, 1].max() + 1000, step = 1))

plt.contourf(X1, X2, model.predict(sc.transform(np.array([X1.ravel(), X2.ravel()]).T)).reshape(X1.shape),

alpha = 0.75, cmap = ListedColormap(('red', 'green')))

plt.xlim(X1.min(), X1.max())

plt.ylim(X2.min(), X2.max())

for i, j in enumerate(np.unique(y_set)):

  plt.scatter(X_set[y_set == j, 0], X_set[y_set == j, 1], c = ListedColormap(('red', 'green'))(i), label = j)

plt.title('K-NN (Training set)')

plt.xlabel('Age')

plt.ylabel('Estimated Salary')

plt.legend()

plt.show()

KeyboardInterrupt: ignored